.title{
	font-family: "Trebuchet MS";
	font-size: 4em;
	text-align: center;
	margin: 10px;
	margin-bottom: 30px;
}

.subtitle{
	font-size: 0.5em;
}

.content{
	margin-left: 0px;
	margin-right: 0px;
	border-style: none;
	padding: 5%;
}

.main-content{
}

#currentPictureLabel{
	float: left;
	line-height: 150%;
	font-size: 2em;
}

.bodyText{
	font-size: medium;
	color: white;
}

.pictureViewer{
	background-color: #2189FF;
	color: white;
	clear: both;
}

.picture{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
}

#largePicture{
	box-shadow: 0px 0px 10px 3px #fff;
}

#previews img{
	width:10%;
	margin:0px;
}

#previewLabels{
	clear:both;
}

#oldestLabel{
	float:left;
	width:50%;
	text-align: left;
}

#newestLabel{
	float:left;
	width: 50%;
	text-align: right;
}

.graphs{
	width:75%;
}

.sidebar{
	width:20%;
	margin-left: 20px;
	margin-right: auto;
}

.footer{
	margin: 20px;
}

body{
	font-family: Arial;
	margin: 0px;
	padding: 0px;
}
